<%- include("partials/header") %>

<!-- <% items.forEach(function(i){ %> -->
    <h3>Gloves = <%= items[0].gloves %></h3>
    <h3>Testing kits = <%= items[0].testingkit %></h3>
    <h3>Syringes = <%= items[0].syringes %></h3>
    <h3>Saline bottles = <%= items[0].salinebottles %></h3>
    <h3>Masks = <%= items[0].masks %></h3>
    <h3>PPE Kits = <%= items[0].ppekits %></h3>
<!-- <% }) %> -->

<%- include("partials/footer") %>